@using Budget_Planner.Models
@using Budget_Planner.Models.ViewModels
@using Microsoft.AspNet.Identity
@model DashboardVM

<!DOCTYPE html>
<html>
<head>
    <title>Pocket Gaurd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="~/assets/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="~/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/vendor/animate/animate.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="~/assets/js/vendor/mmenu/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="~/assets/js/vendor/videobackground/css/jquery.videobackground.css">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap-checkbox.css">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap/bootstrap-dropdown-multilevel.css">

    <link rel="stylesheet" href="~/assets/js/vendor/rickshaw/css/rickshaw.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/morris/css/morris.css">
    <link rel="stylesheet" href="~/assets/js/vendor/tabdrop/css/tabdrop.css">
    <link rel="stylesheet" href="~/assets/js/vendor/summernote/css/summernote.css">
    <link rel="stylesheet" href="~/assets/js/vendor/summernote/css/summernote-bs3.css">
    <link rel="stylesheet" href="~/assets/js/vendor/chosen/css/chosen.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/chosen/css/chosen-bootstrap.css">

    <link rel="stylesheet" href="~/assets/js/vendor/chosen/css/chosen.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/chosen/css/chosen-bootstrap.css">
    <link rel="stylesheet" href="~/assets/js/vendor/datatables/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/assets/js/vendor/datatables/css/ColVis.css">
    <link rel="stylesheet" href="~/assets/js/vendor/datatables/css/TableTools.css">

    <link href="~/assets/css/minimal.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="bg-1">
    <form style="height:100%; overflow: hidden;">
        <!-- Preloader -->
        <div class="mask"><div id="loader"></div></div>
        <!--/Preloader -->
        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Make page fluid -->
            <div class="row">

                <!-- Fixed navbar -->
                <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top collapsed" role="navigation" id="navbar">

                    <!-- Branding -->
                    <div class="navbar-header col-md-2">
                        <a class="navbar-brand" href="javascript:void(0);">
                            <strong>POCKET </strong>GAURD
                        </a>
                        <div class="sidebar-collapse">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Branding end -->
                    <!-- .nav-collapse -->
                    <div class="navbar-collapse">

                        <!-- Page refresh -->
                        <ul class="nav navbar-nav refresh">
                            <li class="divided">
                                <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
                            </li>
                        </ul>
                        <!-- /Page refresh -->
                        <!-- Search -->
                        <div class="search" id="main-search">
                            <i class="fa fa-search"></i> <input type="text" placeholder="Search...">
                        </div>
                        <!-- Search end -->
                        <!-- Quick Actions -->
                        <ul class="nav navbar-nav quick-actions">

                            <!-- #region -->
                            @*<li class="dropdown divided">

                                    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                                        <i class="fa fa-tasks"></i>
                                        <span class="label label-transparent-black"> </span>
                                    </a>

                                    <ul class="dropdown-menu wide arrow nopadding bordered">
                                        <li><h1>You have <strong>0</strong> new tasks</h1></li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <div class="desc">Health Care</div>
                                                    <div class="percent">80%</div>
                                                </div>
                                                <div class="progress progress-striped progress-thin">
                                                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                        <span class="sr-only">40% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <div class="desc">Utilities</div>
                                                    <div class="percent">15%</div>
                                                </div>
                                                <div class="progress progress-striped active progress-thin">
                                                    <div class="progress-bar progress-bar-cyan" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                                        <span class="sr-only">45% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <div class="desc">Housing</div>
                                                    <div class="percent">5%</div>
                                                </div>
                                                <div class="progress progress-striped progress-thin">
                                                    <div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                                                        <span class="sr-only">5% Complete (warning)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <div class="desc">Food and Groceries</div>
                                                    <div class="percent">30%</div>
                                                </div>
                                                <div class="progress progress-striped progress-thin">
                                                    <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                                        <span class="sr-only">30% Complete (danger)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="task-info">
                                                    <div class="desc">Entertainment</div>
                                                    <div class="percent">60%</div>
                                                </div>
                                                <div class="progress progress-striped progress-thin">
                                                    <div class="progress-bar progress-bar-amethyst" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#">Check all tasks <i class="fa fa-angle-right"></i></a></li>
                                    </ul>

                                </li>*@

                            @*<li class="dropdown divided">

                                    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                                        <i class="fa fa-envelope"></i>
                                        <span class="label label-transparent-black">0</span>
                                    </a>

                                    <ul class="dropdown-menu wider arrow nopadding messages">
                                        <li><h1>You have <strong>1</strong> new message</h1></li>
                                        <li>
                                            <a class="cyan" href="#">
                                                <div class="profile-photo">
                                                    <img src="~/assets/images/ici-avatar.jpg" alt />
                                                </div>
                                                <div class="message-info">
                                                    <span class="sender"> </span>
                                                    <span class="time">Created</span>
                                                    <div class="message-content">""</div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="green" href="#">
                                                <div class="profile-photo">
                                                    <img src="~/assets/images/arnold-avatar.jpg" alt />
                                                </div>
                                                <div class="message-info">
                                                    <span class="sender"> </span>
                                                    <span class="time">Created</span>
                                                    <div class="message-content">""</div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="profile-photo">
                                                    <img src="~/assets/images/profile-photo.jpg" alt />
                                                </div>
                                                <div class="message-info">
                                                    <span class="sender"> </span>
                                                    <span class="time">Created</span>
                                                    <div class="message-content">""</div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="red" href="#">
                                                <div class="profile-photo">
                                                    <img src="~/assets/images/peter-avatar.jpg" alt />
                                                </div>
                                                <div class="message-info">
                                                    <span class="sender"> </span>
                                                    <span class="time">Created</span>
                                                    <div class="message-content">""</div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="orange" href="#">
                                                <div class="profile-photo">
                                                    <img src="~/assets/images/george-avatar.jpg" alt />
                                                </div>
                                                <div class="message-info">
                                                    <span class="sender"> </span>
                                                    <span class="time">Created</span>
                                                    <div class="message-content">""</div>
                                                </div>
                                            </a>
                                        </li>


                                        <li class="topborder"><a href="#">Check all messages <i class="fa fa-angle-right"></i></a></li>
                                    </ul>

                                </li>*@

                            @*<li class="dropdown divided">

                                    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                                        <i class="fa fa-bell"></i>
                                        <span class="label label-transparent-black">3</span>
                                    </a>

                                    <ul class="dropdown-menu wide arrow nopadding bordered">
                                        <li><h1>You have <strong>3</strong> new notifications</h1></li>

                                        <li>
                                            <a href="#">
                                                <span class="label label-green"><i class="fa fa-user"></i></span>
                                                New user registered.
                                                <span class="small">Created</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="label label-red"><i class="fa fa-power-off"></i></span>
                                                Server down.
                                                <span class="small">Created</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="label label-orange"><i class="fa fa-plus"></i></span>
                                                New order.
                                                <span class="small">Created</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="label label-cyan"><i class="fa fa-power-off"></i></span>
                                                Server restared.
                                                <span class="small">Created</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="label label-amethyst"><i class="fa fa-power-off"></i></span>
                                                Server started.
                                                <span class="small">Created</span>
                                            </a>
                                        </li>

                                        <li><a href="#">Check all notifications <i class="fa fa-angle-right"></i></a></li>
                                    </ul>

                                </li>*@
                            <!-- #endregion -->

                            <li class="dropdown divided user" id="current-user">
                                <div class="profile-photo">
                                    <img src="~/assets/images/profile-photo.jpg" />
                                </div>
                                <a class="dropdown-toggle options" data-toggle="dropdown">
                                    Welcome @User.Identity.Name <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu arrow settings">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li>
                                                <a href="javascript:(0);"><i class="fa fa-user"></i> @User.Identity.Name</a>

                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="@Url.Action("Index", "Manage")"><i class="fa fa-gear"></i> My Account</a>
                                            </li>

                                            <li>
                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-calendar"></i> Logout</a>
                                            </li>

                                            <li>
                                                <a href="javascript:(0);"><i class="fa fa-envelope"></i> Messages <span class="badge badge-red" id="user-inbox">0</span></a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="#mmenu"><i class="fa fa-comments"></i></a>
                            </li>
                        </ul>
                        <!-- /Quick Actions -->
                        <!-- Sidebar -->
                        <ul class="nav navbar-nav side-nav" id="sidebar">

                            <li class="collapsed-content">
                                <ul>
                                    <li class="search"><!-- Collapsed search pasting here at 768px --></li>
                                </ul>
                            </li>

                            <li class="navigation" id="navigation">
                                <a href="#" class="sidebar-toggle" data-toggle="#navigation">Navigation <i class="fa fa-angle-up"></i></a>

                                <ul class="menu">

                                    <li class="active">
                                        <a href="#">
                                            <i class="fa fa-tachometer"></i> Dashboard
                                            @*<span class="badge badge-red">1</span>*@
                                        </a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-"></i> Household <b class="fa fa-plus dropdown-plus"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "Households", new { id = Model.HouseHold.Id })">
                                                    <i class="fa fa-caret-right"></i> My Household
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "BankAccounts", new { id = Model.HouseHold.Id })">
                                                    <i class="fa fa-caret-right"></i> House Accounts
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Budgets", new { id = Model.HouseHold.Id })">
                                                    <i class="fa fa-caret-right"></i> House Budgets
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Invitations", new { id = Model.HouseHold.Id })">
                                                    <i class="fa fa-caret-right"></i> House Invitations
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-usd"></i> House Transactions <b class="fa fa-plus dropdown-plus"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("Index", "Transactions", new { id = Model.HouseHold.Id })">
                                                            <i class="fa fa-caret-right"></i> Transaction Index
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Create", "Transactions", new { id = Model.HouseHold.Id }))">
                                                            <i class="fa fa-caret-right"></i> New Transaction
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>

                            <li class="settings" id="general-settings">
                                <a href="#" class="sidebar-toggle underline" data-toggle="#general-settings">User Settings <i class="fa fa-angle-up"></i></a>

                                <ul class="menu">

                                    <li class="active">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-users"></i> Member(s) Profile
                                        </a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-user"></i> User Options <b class="fa fa-plus dropdown-plus"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @if (Request.IsAuthenticated)
                                            {
                                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <li>
                                                        <a href="@Url.Action("Index", "Manage")">
                                                            <i class="fa fa-caret-right"></i> Update Profile
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ForgotPassword", "Account")">
                                                            <i class="fa fa-caret-right"></i> Forgot Password
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                                            <i class="fa fa-caret-right"></i> Log Off
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Sidebar end -->

                    </div>
                    <!--/.nav-collapse -->

                </div>
                <!-- Fixed navbar end -->
                <!-- Page content -->
                <div id="content" class="col-md-12">

                    <!-- page header -->
                    <div class="pageheader">

                        <h2>
                            <i class="fa fa-tachometer"></i> Dashboard
                            @*<span>// Place subtitle here...</span>*@
                        </h2>

                        <div class="breadcrumbs">
                            <ol class="breadcrumb">
                                <li>You are here</li>
                                <li><a href="index.html">Dashboard</a></li>
                                <li class="active">Household</li>
                            </ol>
                        </div>

                    </div>
                    <!-- /page header -->
                    <!-- content main container -->
                    <div class="main">

                        <!-- cards -->
                        <div class="row cards">

                            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                                <div class="card card-redbrown hover">
                                    <div class="front">

                                        <div class="media">
                                            <span class="pull-left">
                                                <i class="fa fa-eye media-object"></i>
                                            </span>

                                            <div class="media-body">
                                                <small>Number of Budgets</small>
                                                <h2 class="media-heading animate-number" data-value="@Html.DisplayFor(model => model.Budgets.BudgetItems.Count)" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">This month budget %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="0" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="0%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="@Url.Action("Index", "Budgets")">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                                <div class="card card-blue hover">
                                    <div class="front">

                                        <div class="media">
                                            <span class="pull-left">
                                                <i class="fa fa-shopping-cart media-object"></i>
                                            </span>

                                            <div class="media-body">
                                                <small>Transactions</small>
                                                <h2 class="media-heading animate-number" data-value="@Html.DisplayFor(model => model.Transactions.Count)" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Spending vs Budget %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="0" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="0%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="@Url.Action("Index", "Transactions")">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                                <div class="card card-greensea hover">
                                    <div class="front">

                                        <div class="media">
                                            <span class="pull-left">
                                                <i class="fa fa-bar-chart-o media-object"></i>
                                            </span>

                                            <div class="media-body">
                                                <small>Accounts</small>
                                                <h2 class="media-heading animate-number" data-value="@Html.DisplayFor(model => model.BankAccounts.Count)" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">Accounts Available %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="20" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="20%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="@Url.Action("Index", "BankAccounts", new { })">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                                <div class="card card-slategray hover">
                                    <div class="front">

                                        <div class="media">
                                            <span class="pull-left">
                                                <i class="fa fa-users media-object"></i>
                                            </span>

                                            <div class="media-body">
                                                <small>House Members</small>
                                                <h2 class="media-heading animate-number" data-value="@Html.DisplayFor(model => model.HouseHold.Members.Count)" data-animation-duration="1500">0</h2>
                                            </div>
                                        </div>

                                        <div class="progress-list">
                                            <div class="details">
                                                <div class="title">This month plan %</div>
                                            </div>
                                            <div class="status pull-right bg-transparent-black-1">
                                                <span class="animate-number" data-value="0" data-animation-duration="1500">0</span>%
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="progress progress-little progress-transparent-black">
                                                <div class="progress-bar animate-progress-bar" data-percentage="0%"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="back">
                                        <a href="@Url.Action("Index", "Households")">
                                            <i class="fa fa-bar-chart-o fa-4x"></i>
                                            <span>Check Summary</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /cards -->
                        <!-- row -->
                        <div class="row">

                            <!-- col 8 -->
                            <div class="col-lg-12 col-md-12">

                                <!-- tile -->
                                <section class="tile transparent">

                                    <!-- tile header -->
                                    @*<div class="tile-header color transparent-black textured rounded-top-corners">
                                        <h1><strong>Month To Month</strong> Comparison</h1>
                                        <div class="controls">
                                            <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                                            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                            <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>*@
                                    <!-- /tile header -->
                                    <!-- tile widget -->
                                    @*<div class="tile-widget color transparent-black textured">
                                        <div id="statistics-chart" class="chart statistics" style="height: 250px;"></div>
                                    </div>*@
                                    <!-- /tile widget -->
                                    <!-- tile body -->
                                    <div class="tile-body color transparent-white rounded-bottom-corners">
                                        <div class="row">
                                            <ul class="inline">

                                                <li class="col-md-8 col-sm-12 col-xs-12 text-center">

                                                    <h4 class="underline text-left"><strong>Household</strong> Statistics</h4>

                                                    <div class="inner-container inline">
                                                        <div data-percent="100" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="#ffffff" data-line-width="5">
                                                            <div class="text-center">
                                                                <i class="fa fa-usd fa-5x"></i>
                                                            </div>
                                                        </div>
                                                        <p class="chart-overall text-center medium-thin uppercase"><span class="big-medium animate-number" data-value="@Model.HouseholdIncome" data-animation-duration="2500">0</span> Income</p>
                                                    </div>

                                                    <div class="inner-container inline">
                                                        <div data-percent="85" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="rgba(0,0,0,.4)" data-line-width="5">
                                                            <div class="text-center">
                                                                <span><i class="fa fa-eye fa-5x color-transparent-black"></i></span>
                                                            </div>
                                                        </div>
                                                        <p class="chart-overall text-center medium-thin uppercase color-transparent-black"><span class="big-medium animate-number" data-value="@Model.HouseholdExpenses" data-animation-duration="2500">0</span> Expenses</p>
                                                    </div>

                                                </li>

                                                <li class="col-md-4 col-sm-12 col-xs-12">
                                                    <h4 class="underline"><strong>Category</strong> Statistics</h4>
                                                    <ul class="progress-list">
                                                        <li>
                                                            <div class="details">
                                                                <div class="title">Health Care</div>
                                                                <div class="description"> </div>
                                                            </div>
                                                            <div class="status pull-right">
                                                                <span class="animate-number" data-value="40" data-animation-duration="1500">0</span>%
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-little">
                                                                <div class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%" style="width: 0%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="title">Utilities</div>
                                                                <div class="description"> </div>
                                                            </div>
                                                            <div class="status pull-right">
                                                                <span class="animate-number" data-value="38" data-animation-duration="1000">0</span>%
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-little">
                                                                <div class="progress-bar progress-bar-cyan animate-progress-bar" data-percentage="35%" style="width: 0%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="title">Housing</div>
                                                                <div class="description"> </div>
                                                            </div>
                                                            <div class="status pull-right">
                                                                <span class="animate-number" data-value="12" data-animation-duration="800">0</span>%
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-little">
                                                                <div class="progress-bar progress-bar-amethyst animate-progress-bar" data-percentage="12%" style="width: 0%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="title">Food and Groceries</div>
                                                                <div class="description"> </div>
                                                            </div>
                                                            <div class="status pull-right">
                                                                <span class="animate-number" data-value="7" data-animation-duration="600">0</span>%
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-little">
                                                                <div class="progress-bar progress-bar-orange animate-progress-bar" data-percentage="7%" style="width: 0%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="title">Entertainment</div>
                                                            </div>
                                                            <div class="status pull-right">
                                                                <span class="animate-number" data-value="6" data-animation-duration="400">0</span>%
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="progress progress-little">
                                                                <div class="progress-bar progress-bar-red animate-progress-bar" data-percentage="6%" style="width: 0%;"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /tile body -->

                                </section>
                                <!-- /tile -->

                            </div>
                            <!-- /col 8 -->
                            <!-- col 4 -->
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                            </div>
                            <!-- /col 4 -->

                        </div>
                        <!-- /row -->
                        <!-- row -->
                        <div class="row">

                            <!-- col 6 -->
                            <div class="col-md-12">

                                <!-- tile -->
                                <section class="tile transparent">

                                    <!-- tile header -->
                                    <div class="tile-header transparent">
                                        <h1><strong>Transactions</strong> Summary </h1>
                                        <span class="note">Create: <span class="italic" title="Create A New Transaction"> @Html.ActionLink("New Transaction", "Create", "Transactions")</span></span>
                                        <div class="controls">
                                            <a href="#" title="minimize" class="minimize"><i class="fa fa-chevron-down"></i></a>
                                            <a href="#" title="refresh" class="refresh"><i class="fa fa-refresh"></i></a>
                                            @*<a href="#" class="remove"><i class="fa fa-times"></i></a>*@
                                        </div>
                                    </div>
                                    <!-- /tile header -->
                                    <!-- tile body -->
                                    <div class="tile-body color blue rounded-corners">

                                        <div class="table-responsive">
                                            <table class="table table-datatable table-custom" id="advancedDataTable">
                                                <thead>
                                                    <tr>
                                                        <th class="sort-alpha">User</th>
                                                        <th class="sort-alpha">Category</th>
                                                        <th class="sort-alpha">Transaction Type</th>
                                                        <th class="sort-amount">Amount</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Transactions)
                                                    {
                                                        <tr class="odd gradeX">
                                                            <td class="text-center">@Html.DisplayFor(modelItem => item.EnteredBy.FirstName)</td>
                                                            <td class="text-center">@Html.DisplayFor(modelItem => item.Categories.Name)</td>
                                                            <td class="text-center">@Html.DisplayFor(modelItem => item.TransactionType.Name)</td>
                                                            <td class="text-center">@Html.DisplayFor(modelItem => item.Amount)</td>
                                                            <td class="text-center">
                                                                @Html.ActionLink("Edit", "Edit", "Transactions", new { id = item.Id }, null) |
                                                                @Html.ActionLink("Details", "Details", "Transactions", new { id = item.Id }, null) |
                                                                @Html.ActionLink("Delete", "Delete", "Transactions", new { id = item.Id })
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <!-- /tile body -->

                                </section>
                                <!-- /tile -->

                            </div>
                            <!-- /col 6 -->
                            <!-- col 6 -->

                        </div>
                        <!-- /col 6 -->

                    </div>
                    <!-- /row -->

                </div>
                <!-- /content container -->

            </div>
            <!-- Page content end -->

            <div id="mmenu" class="right-panel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="mmenu-users">
                        <h5><strong>My</strong> Messages</h5>

                        <ul class="users-list">

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="online">
                                <div class="media">

                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                    </a>
                                    @*<span class="badge badge-red unread">3</span>*@

                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>

                                </div>
                            </li>

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/george-avatar.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="busy">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="busy">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar2.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <h5><strong>Household</strong> Messages</h5>

                        <ul class="users-list">

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar4.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong> Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created </small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">

                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar5.jpg" alt>
                                    </a>

                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong> Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created </small>
                                        <span class="badge badge-outline status"></span>
                                    </div>

                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar6.jpg" alt>

                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar7.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">House <strong>Member</strong></h6>
                                        <small><i class="fa fa-clock-o"></i> Created</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div><!-- tab-content -->
            </div>

        </div>
        <!-- Make page fluid-->
        <!-- Wrap all page content end -->

        <section class="videocontent" id="video"></section>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="~/assets/js/vendor/bootstrap/bootstrap-dropdown-multilevel.js"></script>
        <script type="text/javascript" src="~/assets/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
        <script type="text/javascript" src="~/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="~/assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="~/assets/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
        <script type="text/javascript" src="~/assets/js/vendor/videobackground/jquery.videobackground.js"></script>
        <script type="text/javascript" src="~/assets/js/vendor/blockui/jquery.blockUI.js"></script>

        <script src="~/assets/js/vendor/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/vendor/flot/jquery.flot.time.min.js"></script>
        <script src="~/assets/js/vendor/flot/jquery.flot.selection.min.js"></script>
        <script src="~/assets/js/vendor/flot/jquery.flot.animator.min.js"></script>
        <script src="~/assets/js/vendor/flot/jquery.flot.orderBars.js"></script>
        <script src="~/assets/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>

        <script src="~/assets/js/vendor/rickshaw/raphael-min.js"></script>
        <script src="~/assets/js/vendor/rickshaw/d3.v2.js"></script>
        <script src="~/assets/js/vendor/rickshaw/rickshaw.min.js"></script>

        <script src="~/assets/js/vendor/morris/morris.min.js"></script>
        <script src="~/assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js"></script>

        <script src="~/assets/js/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/assets/js/vendor/datatables/ColReorderWithResize.js"></script>
        <script src="~/assets/js/vendor/datatables/colvis/dataTables.colVis.min.js"></script>
        <script src="~/assets/js/vendor/datatables/tabletools/ZeroClipboard.js"></script>
        <script src="~/assets/js/vendor/datatables/tabletools/dataTables.tableTools.min.js"></script>
        <script src="~/assets/js/vendor/datatables/dataTables.bootstrap.js"></script>
        <script src="~/assets/js/vendor/chosen/chosen.jquery.min.js"></script>

        <script src="~/assets/js/minimal.min.js"></script>

        <script>
            $(function () {

                // Initialize card flip
                $('.card.hover').hover(function () {
                    $(this).addClass('flip');
                }, function () {
                    $(this).removeClass('flip');
                });

                // Initialize flot chart
                var d1 = [[1, 715],
                      [2, 985],
                      [3, 1525],
                      [4, 1254],
                      [5, 1861],
                      [6, 2621],
                      [7, 1987],
                      [8, 2136],
                      [9, 2364],
                      [10, 2851],
                      [11, 1546],
                      [12, 2541]
                ];
                var d2 = [[1, 463],
                          [2, 578],
                          [3, 327],
                          [4, 984],
                          [5, 1268],
                          [6, 1684],
                          [7, 1425],
                          [8, 1233],
                          [9, 1354],
                          [10, 1200],
                          [11, 1260],
                          [12, 1320]
                ];
                var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

                // flot chart generate
                var plot = $.plotAnimator($("#statistics-chart"),
                  [
                    {
                        label: 'Sales',
                        data: d1,
                        lines: { lineWidth: 3 },
                        shadowSize: 0,
                        color: '#ffffff'
                    },
                    {
                        label: "Visits",
                        data: d2,
                        animator: { steps: 99, duration: 500, start: 200, direction: "right" },
                        lines: {
                            fill: .15,
                            lineWidth: 0
                        },
                        color: ['#ffffff']
                    }, {
                        label: 'Sales',
                        data: d1,
                        points: { show: true, fill: true, radius: 6, fillColor: "rgba(0,0,0,.5)", lineWidth: 2 },
                        color: '#fff',
                        shadowSize: 0
                    },
                    {
                        label: "Visits",
                        data: d2,
                        points: { show: true, fill: true, radius: 6, fillColor: "rgba(255,255,255,.2)", lineWidth: 2 },
                        color: '#fff',
                        shadowSize: 0
                    }
                  ], {

                      xaxis: {

                          tickLength: 0,
                          tickDecimals: 0,
                          min: 1,
                          ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],

                          font: {
                              lineHeight: 24,
                              weight: "300",
                              color: "#ffffff",
                              size: 14
                          }
                      },

                      yaxis: {
                          ticks: 4,
                          tickDecimals: 0,
                          tickColor: "rgba(255,255,255,.3)",

                          font: {
                              lineHeight: 13,
                              weight: "300",
                              color: "#ffffff"
                          }
                      },

                      grid: {
                          borderWidth: {
                              top: 0,
                              right: 0,
                              bottom: 1,
                              left: 1
                          },
                          borderColor: 'rgba(255,255,255,.3)',
                          margin: 0,
                          minBorderMargin: 0,
                          labelMargin: 20,
                          hoverable: true,
                          clickable: true,
                          mouseActiveRadius: 6
                      },

                      legend: { show: false }
                  });

                $(window).resize(function () {
                    // redraw the graph in the correctly sized div
                    plot.resize();
                    plot.setupGrid();
                    plot.draw();
                });

                $('#mmenu').on(
                  "opened.mm",
                  function () {
                      // redraw the graph in the correctly sized div
                      plot.resize();
                      plot.setupGrid();
                      plot.draw();
                  }
                );

                $('#mmenu').on(
                  "closed.mm",
                  function () {
                      // redraw the graph in the correctly sized div
                      plot.resize();
                      plot.setupGrid();
                      plot.draw();
                  }
                );

                // tooltips showing
                $("#statistics-chart").bind("plothover", function (event, pos, item) {
                    if (item) {
                        var x = item.datapoint[0],
                            y = item.datapoint[1];

                        $("#tooltip").html('<h1 style="color: #418bca">' + months[x - 1] + '</h1>' + '<strong>' + y + '</strong>' + ' ' + item.series.label)
                          .css({ top: item.pageY - 30, left: item.pageX + 5 })
                          .fadeIn(200);
                    } else {
                        $("#tooltip").hide();
                    }
                });


                //tooltips options
                $("<div id='tooltip'></div>").css({
                    position: "absolute",
                    //display: "none",
                    padding: "10px 20px",
                    "background-color": "#ffffff",
                    "z-index": "99999"
                }).appendTo("body");

                //generate actual pie charts
                $('.pie-chart').easyPieChart();

                // sortable table
                $('.table.table-sortable th.sortable').click(function () {
                    var o = $(this).hasClass('sort-asc') ? 'sort-desc' : 'sort-asc';
                    $('th.sortable').removeClass('sort-asc').removeClass('sort-desc');
                    $(this).addClass(o);
                });

                //multiselect input
                $(".chosen-select").chosen({ disable_search_threshold: 10 });


                // Add custom class to pagination div
                $.fn.dataTableExt.oStdClasses.sPaging = 'dataTables_paginate paging_bootstrap paging_custom';

                $('div.dataTables_filter input').addClass('form-control');
                $('div.dataTables_length select').addClass('form-control');

                /****************************************************/
                /**************** ADVANCED DATATABLE ****************/
                /****************************************************/

                var oTable04 = $('#advancedDataTable').dataTable({
                    "sDom":
                      "<'row'<'col-md-4'l><'col-md-4 text-center sm-left'T C><'col-md-4'f>r>" +
                      "t" +
                      "<'row'<'col-md-4 sm-center'i><'col-md-4'><'col-md-4 text-right sm-center'p>>",
                    "oLanguage": {
                        "sSearch": ""
                    },
                    "oTableTools": {
                        "sSwfPath": "assets/js/vendor/datatables/tabletools/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                          "copy",
                          "print",
                          {
                              "sExtends": "collection",
                              "sButtonText": 'Save <span class="caret" />',
                              "aButtons": ["csv", "xls", "pdf"]
                          }
                        ]
                    },
                    "fnInitComplete": function (oSettings, json) {
                        $('.dataTables_filter input').attr("placeholder", "Search");
                    },
                    "oColVis": {
                        "buttonText": '<i class="fa fa-eye"></i>'
                    }
                });

                $('.ColVis_MasterButton').on('click', function () {
                    var newtop = $('.ColVis_collection').position().top - 45;

                    $('.ColVis_collection').addClass('dropdown-menu');
                    $('.ColVis_collection>li>label').addClass('btn btn-default')
                    $('.ColVis_collection').css('top', newtop + 'px');
                });

                $('.DTTT_button_collection').on('click', function () {
                    var newtop = $('.DTTT_dropdown').position().top - 45;
                    $('.DTTT_dropdown').css('top', newtop + 'px');
                });

                //initialize chosen
                $('.dataTables_length select').chosen({ disable_search_threshold: 10 });

                // Add custom class
                $('div.dataTables_filter input').addClass('form-control');
                $('div.dataTables_length select').addClass('form-control');

            })

        </script>
    </form>
</body>
</html>
