@model Budget_Planner.Models.RegisterViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Budget Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="~/assets/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="~/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap-checkbox.css">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap/bootstrap-dropdown-multilevel.css">

    <link href="~/assets/css/minimal.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Page content -->
            <div id="content" class="col-md-12 full-page login">


                <div class="inside-block">
                    <img src="~/assets/images/logo-big.png" class="logo">
                    <h1><strong>Welcome</strong></h1>
                    <h5>To The Budget Planner</h5>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form id="form-signin" class="form-signin">
                            <section id="loginForm">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", name = "firstname", placeholder = "First Name" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" name="username" placeholder="Username">*@
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", name = "lastname", placeholder = "Last Name" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" name="username" placeholder="Username">*@
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", name = "displayname", placeholder = "Display Name" })
                                    @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" name="username" placeholder="Username">*@
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "username", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" name="username" placeholder="Username">*@
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", name = "password", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @*<input type="password" class="form-control" name="password" placeholder="Password">*@
                                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                </div>
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", name = "password", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    @*<input type="password" class="form-control" name="password" placeholder="Password">*@
                                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.HouseholdName, new { @class = "form-control", name = "Household Name", placeholder = "Name your new house..." })
                                    @Html.ValidationMessageFor(m => m.HouseholdName, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" name="username" placeholder="Username">*@
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                </div>
                            </section>
                            <section class="log-in">
                                <input type="submit" class="btn btn-default" value="Register" />
                                @*<button class="btn btn-greensea">Log In</button>*@
                                <span>or</span>
                                <button class="btn btn-slategray">@Html.ActionLink("Back To Main", "IndexLand", "Home")</button>
                            </section>
                        </form>
                    }
                </div>


            </div>
            <!-- /Page content -->
        </div>
    </div>
    <!-- Wrap all page content end -->

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
